@* <h3>RadzenDtwoInputField</h3>

@code {
    [Parameter] string PlaceHoler { get; set; }
    [Parameter] string Value { get; set; }
    [Parameter] bool Disabled { get; set; }
    [Parameter] string Label { get; set; }
    [Parameter] EventCallback<string> Change { get; set; }
}
 *@